* {
  font-family: "Open Sans", sans-serif;
}

.navbar-brand img:first-child {
    margin-right: 0;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: 400;
}

.navbar-brand span {
    font-weight: 700;
    margin-right: 0.5em;
}